
body {
  background: #1d2328;
}

/* dashBoard */
.createStaking-Button{
  float: right;
  padding: 20px 30px;
}

.heading-totalStaking{
  color: white;
  padding: 50px 0 0 0;
}

.dashboardDetails-mainDiv table th{
  color: black !important;
  font-size: 16px !important;
}

.dashboardDetails-mainDiv table td{
  color: white !important;
  font-size: 16px !important;
}

.dashboardDetails-mainDiv a{
  text-decoration: none !important;
  color: white !important;
  cursor: pointer;
}


/* staking */

.staking-mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100%;
  margin-top: 30px;
  color: white;
  text-align: left !important;
  flex-direction: column;
}
.staking-secondDiv{
  float: left;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column
}

.staking-secondDiv label{
  float: left;
  width: 100%;
  text-align: left;
}

.staking-secondDiv .nextui-c-iwmZdB-iiIdOsz-css {
  float: left;
  width: 100% !important;
}

.staking-submitDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100%;
}

.submitButton{
  margin-top: 30px;
}



.connect-wallet {
  background: linear-gradient(
    68deg,
    rgba(29, 35, 40, 1) 0%,
    rgba(29, 35, 40, 1) 21%,
    rgba(45, 52, 57, 1) 100%
  ) !important;
  color: white !important;
  padding: 10px 40px 10px 40px !important;
  border: none !important;
  border-radius: 25px !important;
  font-size: 14px !important;
  font-weight: bold !important;
  border: 1px solid #1f73f253 !important;
  position: relative !important;
  box-shadow: rgb(255 255 255 / 0%) 0px -19px 0px,
    rgb(182 182 182 / 12%) 0px -9px 27px, rgb(0 0 0 / 38%) 0px 8px 12px,
    rgb(255 255 255 / 0%) 0px 12px 13px, rgb(255 255 255 / 0%) 0px -60px 5px !important;
  white-space: nowrap;
  cursor: pointer;
}




.staking-submitDiv .nextui-c-iWjDFM-cwXrJp-borderWeight-normal {
  float: left;
  width: 100%;
}

.nextui-c-gYbKeQ-ibZmKkd-css{
  display: flex !important;
  flex-direction: row !important;
}

.input-text{
  background: white !important;
}



.division{
  border: 1px solid white;
  margin-left: 0;
  width: 100%;
  margin-top: 50px;
}

.stakingDetails-Div{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 20px;
}

.withdrawDetails-table{
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.stakingDetails-mainDiv{
  float: left;
  width: 100%;
  margin-top: 30px;
 
}



/* Staking Modal */

.nextui-c-gYbKeQ-ibZmKkd-css {
  justify-content: center !important;
}

.nextui-c-gYbKeQ {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  overflow: hidden;
  color: inherit;
  align-items: center;
  font-size: var(--nextui-fontSizes-xs);
  padding: var(--nextui-space-sm) var(--nextui-space-lg);
  background: #1d2328 !important;
}


.nextui-c-iDzHRq {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: var(--nextui-space-sm) var(--nextui-space-10);
    overflow-y: auto;
    position: relative;
    text-align: left;
    background: #1d2328 !important;
    color: white !important;
    padding: 30px 20px;
}

.nextui-c-iDzHRq-drcJWu-autoMargin-true > * {
  padding: 10px;
  border-radius: 10px !important;
}


.nextui-c-eKxzBn-dKxaWC-isStatic-true {
  cursor: text;
  color: white;
  user-select: text;
}

.nextui-c-iDzHRq-drcJWu-autoMargin-true > * {
  margin-bottom: 0rem !important;
}